/* RESET*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /*google font*/
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  
}

img {
  width: 100%;
  height: 100%;
}

/*HEADER*/
.header-container {
  width: 100%;
  background-image: url(../img/wall.png);
  height: 150px;
}
.title {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 140px;
}
/*POSTIT-SECTION*/
#postit {
  height: 100%;
  background-image: url(../img/cork.png);
  padding-top: 40px;
}
.cards-container {
  padding: 50px;
  /*debug*/
  /*background-color: rgb(255, 255, 255);
    height: 600px;*/
}
/*CARDS*/
.single-card {
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  height: 100%;
  box-shadow: 1px 1px 1px 1px rgb(83, 83, 83);
  position: relative;
  transition-duration: 0.5s;
}
.single-card::after {
  content: url("../img/pin.svg");
  position: absolute;
  right: 50%;
  transform: translate(50%, -50%);
  top: 5px;
  z-index: 1;
}
.single-card:hover::after{
  display: none;
}

.right:hover {
  box-shadow:2px 2px 5px 2px rgb(75, 75, 75) ;
  transform: rotate(-20deg) scale(1.1);
  z-index: 2;
}
.left:hover {
  transform: rotate(20deg) scale(1.1); 
  box-shadow: 2px 2px 5px 2px rgb(75, 75, 75);
  z-index: 2;}

.card-description {
  padding: 10px 0px;
}
/*OVERLAY*/
#overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.718);
}
.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  
}
.img-container {
 width: 600px;
 height: 600px;
}

/*MEDIA QUESRY*/

@media screen and (max-width: 850px) {
  .cards-container {
    padding: 55px;
  }
  .img-container{
    width: 500px;
    height: 500px;
    margin: 20px;
  }
}
@media screen and (max-width: 480px) {
  .cards-container {
    padding: 55px;
  }
  .img-container{
    width:300px;
    height:300px;
    margin: 20px;
  }
}